<!-- INICIO FORMULARIO -->
<div class="form-content">
    <form autocomplete="off" class="fade">
        <div class="middle">

            <!-- CONTEUDO -->
            <div class="box">

                <!-- LOGO -->
                <div class="logo">
                    <h1>Cosmos</h1>
                    <div class="circle">
                        <div class="spiral"></div>
                        <div class="pro">
                            <span>Pro</span>
                        </div>
                    </div>
                </div>

                <!-- CONTEÚDO DO FORMULARIO -->
                <div class="content">
                    <div id="login" class="form row">

                        <!-- TÍTULO -->
                        <div class="title col-12">
                            <h2>Entrar</h2>
                        </div>

                        <!-- MESANGENS DE ALERTA -->
                        <div class="alert col-12">
                            <div>
                                <ul class="list-alert">
                                    <li class="alert-error">
                                        Email ou senha incorreto. Se você não se lembra de sua senha,<a href="" title="Redefinir senha" >redefina-a agora.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- INPUTS -->
                        <div class="group col-12">
                            <div class="customHolder">
                                <input id="email" autocomplete="off" type="email" autocomplete="off" name="login" maxlength="113" lang="pt" class="customInput form-control" required/>
                                <label for="email" class="customLabel">E-mail</label>
                            </div>
                            <div class="customHolder">
                                <input id="senha" autocomplete="off" type="password" name="password" lang="pt" class="customInput form-control" required/>
                                <label for="senha" class="customLabel">Senha</label>
                            </div>
                        </div>

                        <!-- LINKS DE SUPORTE -->
                        <div class="options col-12">
                            <ul>
                                <li>
                                    <a href="http://192.168.13.42/Cosmos/tmp/forgot.html" title="Esqueceu sua senha?">
                                        Não consegue acessar sua conta?
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- BOTÕES DE AÇÃO -->
                        <div class="action-buttons col-12">
                            <div>
                                <!-- DIV PARA CADA BUTTON/LINK -->
                                <div class="divisory">
                                    <input title="Enviar" type="submit" class="btn btn-next" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER LINKS -->
            <div class="footer">
                <ul class="footer-links">
                    <li>
                        <a href="" title="Termos de uso">
                            Termos de uso
                        </a>
                    </li>
                    <li>
                        <a href="" title="Privacidade e cookies">
                            Privacidade e cookies
                        </a>
                    </li>
                    <li>
                        <a href="http://www.procfit.com.br/" target="_blank" title="Procfit Gestão Orientada a Processos">
                            ©2018 Procfit
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>